/*Fonte*/
body, h1,h2,h3,h4,h5,h6 {font-family: "Bitter", serif;}

body{
    background-color: #84768B;
}

body, html {
    margin: 0;
    height: 100%;
    overflow: auto;
}

#main{
    margin-left: 10em;
    padding: 20px;
    height: 100%;
    overflow-y: hidden; 
}


/*Estilização da sidebar*/
.fixed-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px; /*Ajuste*/
    background-color: #333;
    color: white;
    overflow: hidden; /*Esconde o scroll*/
}

.w3-sidebar{
    background: #1D1B19;
    width: 10em; 
}

.w3-row-padding img {
margin-bottom: 12px;}

.flex-container {
    display: flex; /*container flexível */
    flex-wrap: wrap; /*itens flexíveis para a próxima linha */
    justify-content: space-between; /* Distribui os itens com espaço entre eles */
}

.flex-container .w3-third {
    flex: 1; /* Cada coluna ocupa uma proporção igual do livre*/
    min-width: 250px; /* largura mínima em cada coluna */
}

.w3-ul {
    display: flex; /* lista flexível */
    flex-direction: column; 
    justify-content: space-between; 
    height: 100%; 
}

.text{
    margin: 2rem;
    text-align: justify;
}

a {
    text-decoration: none;
}

.forms{
    font-size: 2em;
}

::-webkit-scrollbar { /*rolagem scroll invisivel*/
    width: 0;
  }
  
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
